#mainContent{
    /* box-shadow: 5px 10px #888888; */

    border: 1px solid;
    box-shadow: 5px 8px 8px 5px rgb(232, 185, 185);
    width: 26vw;
    height: 25vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 30px;
}
.allContent{
    display:inline-block;
    /* flex-direction: row; */
}
.mybtn{
    border: 0px;
   margin-left: 22vw;
}

.mybtn:hover{
    border: .2px solid red; 
}